a {
    text-decoration: none;
    color: #252626;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #1B1E23;
}

.presentationCard {
  background: none;
  color: white;
  min-width: 100%;
  min-height: 100%;
}

.presentationContainer {
  min-height: 480px;
  background-image: 
  linear-gradient(to bottom, #1B1E23 4%, rgba(27, 30, 35, 0)),
  linear-gradient(to top, #1B1E23 4%, rgba(27, 30, 35, 0) 40%),  
  url(../assets/bg-teste.jpg);
  background-size: contain;
  background-position: center;
  min-width: 100%;
}
@media (min-width: 1600px) {
  .presentationContainer {
    min-height: 690px;
  }
}

.cardAbout{
  background: none;
  color: white;
}

.cardProject{
  background-color: #3677C7;
  max-height: 350px;
  max-width: 500px;
  border-radius: 15px;
}.cardProject:hover {
  transform: scale(1.1); /* Aumenta em 10% */
  transition: transform 0.4s;
}
.imgProject {
  width: 100%; /* Garante que a imagem ocupe toda a largura do card */
  height: auto; /* Mantém a proporção da imagem */
  max-height: 200px; /* Ajuste conforme necessário */
  object-fit: cover center; 
  border-radius: 15px 15px 0 0;
}

.carouselTecImg {
  max-height: 350px;
  border-radius: 20px;
}

.shadowForCards{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.projectsSection{
  background-image: 
  linear-gradient(to bottom, #1B1E23 4%, rgba(27, 30, 35, 0)),
  linear-gradient(to top, #1B1E23 4%, rgba(27, 30, 35, 0) 40%),  
  url(../assets/bg-Blue.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
}

.imgPresentation {
  max-height: 300px;
}

.zigzag-left {
  transform: translateY(-20px);
}

.zigzag-right {
  transform: translateY(20px);
}

/* old testament */



.card-formacao{
  padding: 20px;
  border-radius: 30px;
  max-width: 400px;
  max-height: 200px;
  background-color: #2b3469;
  color: white;
}



.verticalLine::before{
  content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; /* Define a altura igual à altura do card */
    width: 3px; /* Define a largura da borda  */
    background-color: #3677C7; 
}

footer {
  color: white;
  background-color: #0f1524;
  padding: 2%;
}

